<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Partipate to event</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link th:href="@{/css/event.css}" rel="stylesheet" />
</head>

<body>

  <div class="column" align="center">

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Participant</h5>
          <p class="card-text">Click below to join an event as simple participant</p>
          <a href="/joinEvent" class="btn btn-primary">Join as participant</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Organiser</h5>
          <p class="card-text">Click below to join an event as organiser</p>
          <a href="/joinEventAsOrganiser" class="btn btn-primary">Join as organiser</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Administrator</h5>
          <p class="card-text">Click below to administrate event and participant</p>
          <a href="/events" class="btn btn-primary">Join as admin</a>
        </div>
      </div>
    </div>

  </div>

</body>

</html>