<!DOCTYPE html>
<html lang="en">

<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Add Event</title>
  <link th:href="@{/css/addEvent.css}" rel="stylesheet">

  <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}" />
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} ">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>


</head>

<body>
  <div class="center">


    <h1>Add Participant</h1>
    <form action="#" th:action="@{/postJoinEventParticipant}" method="post" th:object="${participant}">

      <div class="inputbox">
        <input type="text" th:field="*{firstName}" />
        <span>First name:</span>
      </div>

      <div class="inputbox">
        <input type="text" th:field="*{lastName}" />
        <span>Last name:</span>
      </div>

      <div class="inputbox">
        <input type="text" th:field="*{emailAddress}" />
        <span>Email address:</span>
      </div>

      <div class="inputbox">
        <input type="text" th:field="*{dateBirth}" />
        <span>Date of Birth (DD/MM/YYYY):</span>
      </div>

      <div class="inputbox">
        <input type="text" th:field="*{organisation}" />
        <span>Organisation:</span>
      </div>

      <div class="inputbox">
        <input type="text" th:field="*{observation}" />
        <span>Observations:</span>
      </div>

      <div class="form-group">
        <select class="form-control selectpicker" th:field="*{events}" multiple>
          <option th:each="e : ${listEvents}" th:value="${e.id}" th:text="${e}" />
        </select>
        <span>Events:</span>
      </div>

      <input type="hidden" th:field="*{id}" />

      <button type="submit" style="color:white">Register</button>

    </form>
  </div>
</body>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>



</html>