<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Participants</title>
  <link th:href="@{/css/event.css}" rel="stylesheet" />
</head>

<body>

  <a th:href="@{/joinEventAsOrganiserAdmin}" id="addOrganiserLink" class="linkBtnAdmin">Add organiser</span></a>

  <h2>List of Organisers</h2>

  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email Address</th>
          <th>Date of Birth</th>
          <th>Organisation</th>
          <th>Observation</th>
          <th>events</th>
          <th>Phone</th>
          <th>Tilte</th>

        </tr>
      </thead>
      <tbody>
        <tr th:if="${organisers.empty}">
          <td colspan="2"> No organiser added </td>
        </tr>
        <tr th:each="organiser : ${organisers}">
          <td><span class="align-middle" th:text="${organiser.firstName}"> First Name </span> </td>
          <td><span class="align-middle" th:text="${organiser.lastName}"> Last Name </span> </td>
          <td><span class="align-middle" th:text="${organiser.emailAddress}"> Email Address </span> </td>
          <td><span class="align-middle" th:text="${organiser.dateBirth}"> Date of Birth </span> </td>
          <td><span class="align-middle" th:text="${organiser.organisation}"> Organisation </span> </td>
          <td><span class="align-middle" th:text="${organiser.observation}"> Observation </span> </td>
          <td> <select>
              <option th:each="e : ${organiser.events}" th:value="${e.id}" th:text="${e}" />
            </select> <br />
          </td>
          <td><span class="align-middle" th:text="${organiser.phoneNumber}"> Phone </span> </td>
          <td><span class="align-middle" th:text="${organiser.title}"> Title </span> </td>

          <td>
            <a th:href="@{deleteOrganiser/__${organiser.id}__}" class="btn btn-danger">Delete</a>
          </td>

          <td>
            <a th:href="@{/organiser/{id}(id=${organiser.id})}" class="btn btn-info">Update</a>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>