<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Participants</title>
  <link th:href="@{/css/event.css}" rel="stylesheet" />
</head>

<body>

  <form method="POST" th:action="@{/postCsvParticipantData}" enctype="multipart/form-data">
    <div class="form-group mt-3">
      <label for="file">Select participant CSV file</label>
      <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
      <button type="submit" class="btn btn-primary linkBtnAdmin">Import Participants</button>
    </div>

    <a th:href="@{/joinEventAdmin}" id="addParticipantLink" class="linkBtnAdmin">Add participant</span></a>


    <h2>List of participants</h2>

    <div class="table-wrapper">
      <table class="fl-table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Date of Birth</th>
            <th>Organisation</th>
            <th>Observation</th>
            <th>events</th>

          </tr>
        </thead>
        <tbody>
          <tr th:if="${participants.empty}">
            <td colspan="2"> No Participants added </td>
          </tr>
          <tr th:each="participant : ${participants}">
            <td><span class="align-middle" th:text="${participant.firstName}"> First Name </span> </td>
            <td><span class="align-middle" th:text="${participant.lastName}"> Last Name </span> </td>
            <td><span class="align-middle" th:text="${participant.emailAddress}"> Email Address </span> </td>
            <td><span class="align-middle" th:text="${participant.dateBirth}"> Date of Birth </span> </td>
            <td><span class="align-middle" th:text="${participant.organisation}"> Organisation </span> </td>
            <td><span class="align-middle" th:text="${participant.observation}"> Observation </span> </td>
            <td> <select>
                <option th:each="e : ${participant.events}" th:value="${e.id}" th:text="${e}" />
              </select> <br />
            </td>
            <td>
              <a th:href="@{deleteParticipant/__${participant.id}__}" class="btn btn-danger">Delete</a>
            </td>

            <td>
              <a th:href="@{/participant/{id}(id=${participant.id})}" class="btn btn-info">Update</a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
</body>

</html>