<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Participant added Success</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

</head>

<body>
  <div align="center">

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span>First name:</span><span th:text="${organiser.firstName}"></span></li>
        <li class="list-group-item"><span>Last name:</span><span th:text="${organiser.lastName}"></span></li>
        <li class="list-group-item"><span>Email address:</span><span th:text="${organiser.emailAddress}"></span></li>
        <li class="list-group-item"><span>Date of birth:</span><span th:text="${organiser.dateBirth}"></span></li>
        <li class="list-group-item"><span>Organisation:</span><span th:text="${organiser.organisation}"></span></li>
        <li class="list-group-item"><span>Observations:</span><span th:text="${organiser.observation}"></span></li>
        <li class="list-group-item"><span>Phone number:</span><span th:text="${organiser.phoneNumber}"></span></li>
        <li class="list-group-item"><span>Title:</span><span th:text="${organiser.title}"></span></li>

        <li class="list-group-item">
          <select>
            <option th:each="e : ${organiser.events}" th:value="${e.id}" th:text="${e}" />
          </select>
        </li>
        <li class="list-group-item"> <a th:href="@{/home}">Back to home</span></a></li>

      </ul>
    </div>

</body>

</html>